@import "vars/_colors";
* {
    margin: 0;
    padding: 0;
}
body {
    background: blue;
    text-align: center;
    h1 {
        color: var(--text);
        background: tomato;
        padding: 2rem 0;
    }
    section {
        background: black;
        padding: 2rem 1rem;
    }
    footer {
        padding: 2rem 0;
        color: black;
        background: #e3e3e3;
    }
}